<!DOCTYPE html>
<html>
  <head>
    <title>CharacterHive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Log In", new_user_session_path %>
    <%= yield %>
  </body>
</html>
